doctype transitional
html
	head
		link rel="stylesheet" type="text/css" href="handn_stylesheet.css"
		title Haughty or Naughty Magnetic Poetry Game

	body
		div id="header"
			img src="images/HandN_Logo_Small.png"
			ul
				li
					a href="" New
				li
					a href="" Haughty
				li
					a href="" Naughty

		div id="prettyTitleBox"

		div id="titlebox"
			h3 Titles
			ul class="titleList"
				li
					h1 BBQ
				li
					h1 Summer
				li
					h1 Fun

		div id="composeModal"
			div class="contentBox"
				div class="contentOptions"
				div class="content"
					img src="images/Title_Compose.png"

			div class="contentBox"
				div class="contentOptions"
				div class="content"
					h1 id="composeTitleSelect" Select a Title
					h3 by Cliff

			div class="contentBox"
				div class="contentOptions"
				div class="content"
					div id="composerDragDrop"

			div class="contentBox"
				div class="contentOptions"
				div class="content"
					div id="saveButton" SAVE
					div id="clearButton" CLEAR
