doctype transitional
html

head
link rel="stylesheet" type="text/css" href="handn_stylesheet.css"
meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /
titleHaughty or Naughty Magnetic Poetry Game/title
/head

body
	div id="header"
    	img src="images/HandN_Logo_Small.png"
        ul
  			li 
            	a href="" New
  			li 
            	a href="" Haughty
  			li 
            	a href="" Naughty
    
    
    
    div id="naughtyContent"
    
    	div class="contentBox"
        	div class="contentOptions"            	
        	
            div class="content"
            	img src="images/Title_Naughty.png" 
        	                       
        
        
        div class="poemPadder"
        
        div class="contentBox"
         	div class="contentOptions"
            h1 #1            	
        	
            div class="content"
            	h1Poem's Title/h1
                h3by Cliff/h3
                p class="poem"
                	|Hikus are easy
                    br 
                	|But sometimes they don't make sense
                    br 
                	Refrigerator
                
                div class="haughtyButton"
                	img src="images/Button_Haughty.png" 
                    h356/h3          
                
                div class="naughtyButton"
                	img src="images/Button_Naughty.png" 
                    h322/h3
                              
        	
        
        
        div class="poemPadder"
        
        div class="contentBox"
         	div class="contentOptions"
            h1 #2            	
        	
            div class="content"
            	h1 Poem's Title
                h3 by Cliff
                p class="poem"
                	|Hikus are easy
                    br 
               		|But sometimes they don't make sense
                	br 
                	Refrigerator
                
                div class="haughtyButton"
                	img src="images/Button_Haughty.png" 
                    h3 56          
                
                div class="naughtyButton"
                	img src="images/Button_Naughty.png"
                    h3 22
                              
        	
        
        
       
                             
        	
        
        
  
    
