@charset "UTF-8";
/* CSS Document */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}


body{
	line-height: 1;
	background-color:#FAFAFA;
	padding-top:42px;
}
/*-----------------------------------------------basic styling------------------------------------------------*/

h1{
	font-family:Georgia, "Times New Roman", Times, serif;
	font-weight:bold;
	color:black;
	font-size:22px;
}
h3{
	font-family:Georgia, "Times New Roman", Times, serif;
	font-style:italic;
	color:black;
	font-size:14px;
	line-height:22px;
}
h4{
	font-family:"Courier New", Courier, monospace;
	color:black;
	font-size:14px;
	font-weight:bold;
	letter-spacing:2px;
	line-height:30px;
	float:left;
	margin-left:15px;
}

p{
	font-family:Georgia, "Times New Roman", Times, serif;
	color:black;
	font-size:14px;
	line-height:20px;
}


/*----------------------------------------------header styling------------------------------------------------*/

#header{
	padding-left:25px;
	position:fixed;
	top:0px;
	height:40px;
	width:100%;
	background-color:#EFEFEF;
	margin-bottom:2px;
	z-index:1;
}

#header a{
	font-family:"Courier New", Courier, monospace;
	color:#979DAA;
	font-size:14px;
	text-decoration:none;
	font-weight:bold;
	line-height:40px;
	letter-spacing:2px;
}
#header img{
	float:left;
}

ul{
	float:left;
	list-style-type:none;
	margin:0;
	padding:0;
}

#header li{
	display:inline;
	padding-left:20px;
	padding-right:20px;
}

/*--------------------------------------------------title box---------------------------------------------------*/
.title{
	line-height:28px;
}

.titlebox{
	padding-left:40px;
	padding-top:40px;
	padding-bottom:40px;
	padding-right:15px;
	width:245px;
	background-color:#EFEFEF;
	float:left;
}

.titleList li{
	padding-top:7px;
	padding-bottom:7px;
	cursor: pointer;
}

.words{
	padding:7px;
	margin-bottom:4px;
	margin-right:4px;
	background-color:#FAFAFA;
	/*min-width:50px;*/
	/*float: left;*/
    /*clear: left;*/
    display: inline-block;
    cursor: pointer;
}

.wordList{
	padding-top:7px;
}

.words h1{
	font-weight:normal;
}

#prettyTitleBox{
	position:fixed;
	left:0px;
	top:42px;
	width:300px;
	height:1000px;
	background-color:#EFEFEF;
	z-index:-1;
}

/*-------------------------------------------content modules styling--------------------------------------------*/
.contentBox{
	width:700px;
}

.contentOptions{
	padding-bottom:30px;
	float:left;
	width:50px;	
}

.content{
	padding-bottom:30px;
	float:left;
	width:650px;
}

/*------------------------------------------------poem styling--------------------------------------------------*/

.poem{
	font-family:Georgia, "Times New Roman", Times, serif;
	font-style:italic;
	font-size:22px;
	line-height:36px;
	margin-top:30px;
	margin-bottom:30px;
}

.poemPadder{
	margin-left:50px;
	width:650px;
	height:30px;
	float:left;
	border-top:1px #CCC solid;
}

.haughtyButton{
	width:30px;
	display:inline-block;
	margin-right:15px;
	margin-bottom:30px;
	cursor: pointer;
}

.naughtyButton{
	width:30px;
	display:inline-block;
	margin-right:15px;
	margin-bottom:30px;
	cursor: pointer;
}

.naughtyButton h3{
	text-align:center;
	color:#DD916A;
	font-style:normal;
	font-weight:bold;
}

.haughtyButton h3{
	text-align:center;
	color:#6BADDE;
	font-style:normal;
	font-weight:bold;
}

#naughtyContent{
	position:absolute;
	left:300px;
	top:85px;
	width:700px;
}

.contentOptions h1{
	color:#BBBBBC;
	font-weight:normal;
}

#singlePoem{
	background-color:#FFF;
	border:medium #CCC solid;
	padding-top:50px;
	position:absolute;
	top:50%;
	margin-top:-200px;
	height:350px;
	width:700px;
	left:50%;
	margin-left:-350px;
	overflow:visible;
}

/*----------------------------------------------composer styling------------------------------------------------*/
#composeModal{
	position:fixed;
	left:300px;
	top:85px;
	height:400px;
	width:700px;
}

.composeButton p{
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:14px;
	font-weight:bold;
	color:#000101;
}

#composerDragDrop{
	width:auto;
	height:190px;
	background:#EFEFEF;
}

#saveButton{
	float:left;
	font-family:"Courier New", Courier, monospace;
	color:white;
	font-size:14px;
	font-weight:bold;
	line-height:40px;
	letter-spacing:2px;
	background:#6BADDE;
	padding-left:15px;
	padding-right:15px;
	margin-right:15px;
	cursor: pointer;
}

#saveButton.disabled{
	background:#BBBBBB;
	cursor: not-allowed;
}

#clearButton{
	float:left;
	font-family:"Courier New", Courier, monospace;
	color:white;
	font-size:14px;
	font-weight:bold;
	line-height:40px;
	letter-spacing:2px;
	background:#BBBBBB;
	padding-left:15px;
	padding-right:15px;
	margin-right:15px;
	cursor: pointer;
}

/*Colin's hacks*/
.composerLineContent{
	width: 100%;
}

.composerLineNumber{
	line-height: 40px;
	/*color: #BBB;*/
}

.hidden{
	display: none;
}

#composeAuthor{
	color: #BBB;
}

#composeTitle{
	color: black;
}

#composeTitle.select-title{
	color: #BBB;
}

#authorName.anonymous, #authorEditHint {
	cursor: pointer;
}

#authorName.nonymous {
	color: black;
}

.composerTable{
	padding-left: 15px;
	padding-top: 10px;
	color: #BBB;
}

/*----------------------------------------------Landing styling------------------------------------------------*/


#HaughtyMan{
	position:absolute;
	top:50%;
	margin-top:-400px;
	left:12%;
	margin-left:-100px;
	overflow:visible;
}

#NaughtyMan{
	position:absolute;
	top:50%;
	margin-top:-400px;
	right:12%;
	margin-right:-150px;
	overflow:visible;
}

#landingBox{
	position:absolute;
	top:50%;
	margin-top:-300px;
	height:600px;
	width:600px;
	left:50%;
	margin-left:-300px;
	overflow:visible;
}

#landingBox h1{
	font-style:italic;
	margin-top:30px;
	line-height:30px;
	font-weight:normal;
	text-align:center;
}

#landingBox h3{
	margin-top:7px;
	text-align:center;
}

#landingBox p{
	width:580px;
	margin-left:auto;
	margin-right:auto;
	margin-top:30px;
	text-align:center;
}

#landingButtonBox{
	width:400px;
	height:50px;
	margin-top:50px;
	margin-left:auto;
	margin-right:auto;
}

#landingComposeButton{
	background-color:#DDD;
	padding:10px;
	height:30px;
	float:left;
	width:160px;
}

#landingButtonBox img{
	float:left;
}

#landingJudgeButton{
	background-color:#DDD;
	padding:10px;
	height:30px;
	float:right;
	width:160px;
	cursor: pointer;
}

#ComposeButton{
	position:fixed;
	left:40px;
	top:85px;
	background-color:#EFEFEF;
	padding:10px;
	height:30px;
	float:left;
	width:160px;
	cursor: pointer;
}

#ComposeButton img{
	float:left;
}

.poem-link{
	text-decoration: none;
}

.pageMoveButton{
	background-color:#EFEFEF;
	padding:10px;
	height:30px;
	width:160px;
	cursor: pointer;
}

.pageMoveButton img{
	float:left;
}